#justin{
color: #5B6C5D;
	text-decoration: underline;
	font-size: 40px;
text-align: center;}
body{
background-color: #56E39F;
}
.qwertyuiop{
list-style-type: none;
margin: 0;
padding: 0;
padding-left: 500px;
}
.qwertyuiop1{
float: left;
}

.hi{
width: 100%;
background-color: #1B998B;
text-align: center;
font-size: 32px;
padding: 10px;
}
.hi:visited {
	color: #40E0D0;
}

.hi:link { 
color: #40E0D0;
}
#Rustin{
font-size: 32px;
color: #465775;
font-family: 'Merriweather', serif;
}